ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;


}
li {
    float: right;
}

li a {
    display: block;
    padding: 12px 10px;
    color:#8c8c8c;
    text-decoration:none;
    font-family:Arial;
    font-size:13px;
}

img {
    display: block;
    position: relative;
    top: 82px;

    margin-left: auto;
    margin-right: auto;
    background-color:black;



}

.search {
    position: relative;
    width:500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left:auto;
    margin-right:auto;
    background-color:red;
    top:20px;
}
input{
    width:100%;
    padding: 4px 4px;
    box-sizing: border-box;
    height: 35px;

}


.btn{
    position:relative;
    top:45px;
    left:px;
    width:20%;
    margin-left:auto;
    margin-right:auto;

    padding:0;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f3f3f3;
    color: black;
    font-family:Arial;
    text-align: center;
}
button{
    background-color: #f3f3f3;;
    color: black;
    font-size:17px;
    padding:8px 7px;
    BORDER:NONE;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size: 17px;
    font-family:Arial;
    color:#8c8c8c;
}














